%head
  %title #{@title}
  %link{rel: 'icon', type: 'image/png', :href => "/logo.png"}
  %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
  %meta{:charset => "utf-8"}
  %meta{:content => "Веб студия Kernel. Разработка сайтов визиток, каталогов, интернет магазинов, корпоротивных парталов, crm и erp решений ", :name => "description"}
  %meta{:content => "Kernel Web Studio", :name => "author"}
  %meta{:content => "Kernel, Web Studio, веб-студия, разработка сайтов, интернет магазинов, Ruby On Rails",
  :name => "keywords"}
  / Facebook Metadata /
  %meta{:content => "", :property => "fb:page_id"}
  %meta{:content => "", :property => "og:image"}
  %meta{:content => "", :property => "og:description"}
  %meta{:content => "", :property => "og:title"}
  / Google+ Metadata /
  %meta{:content => "", :itemprop => "name"}
  %meta{:content => "", :itemprop => "description"}
  %meta{:content => "", :itemprop => "image"}
  %meta{:content => "width=device-width, initial-scale=1.0, maximum-scale=1", :name => "viewport"}
  / Stylesheet /
  = stylesheet_link_tag 'application'
  -#= stylesheet_link_tag 'bootstrap.min'
  -#= stylesheet_link_tag 'bootstrap-responsive.min.css'
  -#= stylesheet_link_tag 'kerweb'
  -#= stylesheet_link_tag 'prettyPhoto'
  -#= stylesheet_link_tag 'gumby'
  -#= stylesheet_link_tag 'media'
  -#= stylesheet_link_tag 'style'
  -#= stylesheet_link_tag 'stylesOnHtml'
  -#= stylesheet_link_tag 'fonts'
  = javascript_include_tag 'modernizr.custom.js'
  = javascript_include_tag 'jquery.min'
  = javascript_include_tag 'bootstrap.min'
  = javascript_include_tag 'kerweb'
  = javascript_include_tag 'jaslide'
  = javascript_include_tag 'jquery.prettyPhoto'
  = javascript_include_tag 'home.js.coffee'
