/ HEADER HOME ###############################################
#logo-bg
%section#home
    %table{id: 'logo_table'}
        %tr.js_height
            %td.js_width
            %td
            %td.js_width
        %tr
            %td.js_width
            %td
                #logo_text
                    #kernel_web
                        Kernel Web
                    #dev_studio
                        студия разработки
            %td.js_width
                #logo_img>
                    %img{src: "assets/logo_img.png"}>
                #logo_arrows>
        %tr.js_height
            %td.js_width
            %td
            %td.js_width
/ LITTLE LOGO SEE WHAT WE DO
#down_button.fade-it
    %a{:href => "#about_us"}
/ END LITTLE LOGO SEE WHAT WE DO
/ END HEADER HOME ###############################################
/ NAVIGATION ###############################################
.nav-container{:style => "height: auto;"}
    %nav{:style => "top: 0px;"}
        #logo
            %a{:href => "#home"}
                %img{:alt => "Kerweb", :src => "/assets/logo_small.png"}
        %ul
            %li
                %a{:href => "#about_us"}
                    О нас
            %li
                %a{:href => "#whatwedo"}
                    =t 'what_we_do.title'
            %li
                %a{:href => "#contact"}
                    =t 'contacts.title'
/ END NAVIGATION ###############################################
/ THREE RECTANGLES ABOUT US ###############################################
%section#about_us
    ._row#_red
        ._fon
        .row
            ._holder
                ._content
                    ._text
                        Сайты-визитки <br>
                        Корпоративные порталы <br>
                        Интернет-магазины <br>
                        Интернет-журналы <br>
                        Веб-приложения
                ._rectangle
                    %img._icon{ src: '/assets/about_us/icon_red.png' }
                    ._info
                        ._title Разработка сайтов
                        ._points 
                            Сайты-визитки <br>
                            Корпоративные порталы <br>
                            Интернет-магазины <br>
                            Интернет-журналы <br>
                            Веб-приложения
    ._row#_blue.left
        .row
            ._holder
                ._rectangle
                    %img._icon{ src: '/assets/about_us/icon_blue.png' }
                    ._info
                        ._title Увеличение <br> эффективности бизнеса
                        ._points
                            Автоматизация процессов <br>
                            Системы управления качеством <br>
                            Новые рекламные площадки <br>
                            Снижение нагрузки на операторов
                ._content
                    ._text
                        Автоматизация процессов <br>
                        Системы управления качеством <br>
                        Новые рекламные площадки <br>
                        Снижение нагрузки на операторов
    ._row#_green
        ._fon
        .row
            ._holder
                ._rectangle
                    %img._icon{ src: '/assets/about_us/icon_green.png' }
                    ._info
                        ._title Повышение лояльности <br> ваших клиентов
                        ._points 
                            Автоматизация приема заказов <br>
                            E-mail, sms уведомления <br>
                            Внедрение дополнительных <br>
                            сервисов

                ._content
                    ._text
                        Автоматизация приема заказов <br>
                        E-mail, sms уведомления <br>
                        Внедрение дополнительных <br>
                        сервисов
/ END THREE RECTANGLES ABOUT US ###############################################
/ WHAT WE DO SECTION ###############################################
%section#whatwedo
    .row
        .twelve.columns.centered
            %h2
                = t 'what_we_do.title'
                %i.title_line
    .row
        / WORKS GRID
        %ul#og-grid.og-grid
            - @projects.each do |project|
                = render 'projects/miniproject', :project => project
        / END WORKS GRID
/ END WHAT WE DO SECTION ###############################################
/ CONTACT SECTION ###############################################
%section#contact
    .row
        .twelve.columns.centered
            %h2
                =t 'contacts.title'
                %i.title_line
    .row
        .eleven.columns.centered
            %p.subtittle
                =t 'contacts.greeting_clients.html'
    .row
        .seven.columns
            %form{:action => "/formPost", :method => "post", :name => "offerForm", :enctyoe => "multipart/form-data"}
                %input{:name => "offer[name]", :placeholder => t('placeholder.first_name'), :required => "", :type => "text"}/
                %input{:name => "offer[email]", :placeholder => t('placeholder.email'), :required => "", :type => "email"}/
                %textarea{:cols => "1", :name => "offer[body]", :placeholder => t('placeholder.textarea'), :required => "", :rows => "5"}
                %button.submit{:name => "send", :type => "submit"}
                    =t 'placeholder.submit'
        .five.columns.info
            %h4
                =t 'contacts.where_can_find'
            =t 'contacts.address.html'
            %h4
                =t 'contacts.contact_us'
            %p
                Телефон: +7-383-213-46-79
            %p
                e-mail:
                %a{:href => "mail"}
                    hello[at]kerweb.ru
            %p
                skype:
                %a{:href => "skype:shabalinsky?chat"} shabalinsky

/ END CONTACT SECTION ###############################################
/ TWITTER MODULE ###############################################
/%section#twitter_module
/	.row
/		.twelve.columns
/			#ticker.query
/				%ul.tweet_list
/					%li.tweet_even
/ END TWITTER MODULE ###############################################
/ SOCIAL MODULE ###############################################
%section#social_module
    .row
        .twelve.columns
            %ul
                %li
                    %a{:href => "https://twitter.com/kernelweb", :target => "_blank"}
                        %i.icon
                            L

/ END SOCIAL MODULE ###############################################
- if @notice
    %div.modal
        %p= @notice
/ MAP ########################################################
%section#map{style: 'height: 600px'}
    -#%a{:id=> "firmsonmap_biglink", :href=>"http://maps.2gis.ru/#/?history=project/novosibirsk/center/83.110517887677,54.857621924391/zoom/18/state/widget/id/141266769615561/firms/141266769615561"} Перейти к большой карте
    %div{id: "myMapId", style: "width:100%; height:620px"}
    -#%script{:charset=>"utf-8", :type=>"text/javascript", :src=>"http://firmsonmap.api.2gis.ru/js/DGWidgetLoader.js"}
    :javascript
        DG.autoload(function() {
                // Создаем объект карты, связанный с контейнером:
                var myMap = new DG.Map('myMapId');
                myMap.disableScrollZoom();
                // Устанавливаем центр карты и коэффициент масштабирования:
                myMap.setCenter(new DG.GeoPoint(83.110517887677,54.857621924391),16);
                // Добавляем элемент управления коэффициентом масштабирования:
                myMap.controls.add(new DG.Controls.Zoom());
                var myBalloon = new DG.Balloons.Common({
                    // Местоположение на которое указывает балун:
                    geoPoint: new DG.GeoPoint(83.110417887679,54.858021924395),
                    // Устанавливаем текст, который будет отображатся при открытии балуна:
                    contentHtml: 'Центр информационных технологий новосибирского Академпарка<br>Николаева 11, офис 407<br> Kernel Web Studio'
                });
                // Создаем маркер:
                var myMarker = new DG.Markers.Common({
                    // Местоположение на которое указывает маркер:
                    geoPoint: new DG.GeoPoint(83.110417887679,54.858021924395),
                    // Функция, вызываемая при клике по маркеру
                    clickCallback: function() {
                        if (! myMap.balloons.getDefaultGroup().contains(myBalloon)) {
                            // Если балун еще не был добавлен на карту, добавляем его:
                            myMap.balloons.add(myBalloon);
                        } else {
                            // Показываем уже ранее добавленный на карту балун
                            myBalloon.show();
                        }
                    }
                });
                 myMap.balloons.add(myBalloon);
                 myBalloon.show();
                // Добавить маркер на карту:
                myMap.markers.add(myMarker);
            });
        //new DGWidgetLoader({"borderColor":"#a3a3a3","width":"100%","height":"600","wid":"283e085a9fc3da107605cd457815ac06","pos":{"lon":"83.110517887677","lat":"54.857621924391","zoom":"16"},"opt":{"ref":"hidden","card":["name","contacts","schedule","payings","flamp"],"city":"novosibirsk"},"org":[{"id":"141266769615561"}]});
    %noscript {:style=>"color:#c00;font-size:16px;font-weight:bold;"} Виджет карты использует JavaScript. Включите его в настройках вашего браузера


/ FOOTER ###############################################
%footer
    .row
        .twelve.columns
            %p
                = "© Copyright #{DateTime.now.year} Kernel Web studio. All rights reserved."
                
                
/            %img{:alt => "YOURLOGO", :src => "/assets/logo_small.png"}/
/ END FOOTER ###############################################
- if !notice.blank?
    %div.modal
        = notice
/ JAVASCRIPTS ###############################################
%script{:src => "/assets/jquery-1.9.1.min.js", :type => "text/javascript"}
%script{:src => "/assets/jquery.scrollto.js"}
%script{:src => "/assets/waypoints.min.js", :type => "text/javascript"}
%script{:src => "/assets/jquery.tweet.js", :type => "text/javascript"}
%script{:src => "/assets/scripts.js", :type => "text/javascript"}
%script{:src => "/assets/grid.js"}
%script{id: "top100Counter", type: "text/javascript", src: "http://counter.rambler.ru/top100.jcn?2925357"}
%noscript
    %a{href: "http://top100.rambler.ru/navi/2925357/"}
    %img{src: "http://counter.rambler.ru/top100.cnt?2925357", alt: "Rambler's Top100", border: "0"}


</noscript>


/ END JAVASCRIPTS ###############################################
