%div#showProject
	%h3= @project.name
	%a.btn{:href => @project.href}= @pHref
	%div.border
	%p= @project.body.html_safe
	%div.pagination
		- if Project.exists?(@project.id - 1)
			%div.prev
				= link_to '<', '/projects/' + (@project.id - 1).to_s
		- if Project.exists?(@project.id + 1)
			%div.next
				= link_to '>', '/projects/' + (@project.id + 1).to_s
