!!!
%html
  %title
    =yield :title
  %meta{:content => yield(:description), :name => "description"}

  = stylesheet_link_tag 'bootstrap.min'
  = stylesheet_link_tag 'bootstrap-responsive.min.css'
  = stylesheet_link_tag 'kerweb'
  = stylesheet_link_tag 'prettyPhoto'
  = stylesheet_link_tag 'media'
  = stylesheet_link_tag 'style'
  = stylesheet_link_tag 'stylesOnHtml'
  = javascript_include_tag 'kerweb'
  = javascript_include_tag 'posts'
  = render partial: 'home/vk_head'

%body.posts
  .nav-container{:style => "height: auto;"}
    %nav{:style => "top: 0px;"}
      #logo
        %img{:alt => "Kerweb", :src => "/assets/logo_small.png"}
      %ul
        %li
          %a{:href => '/', 'data-no-turbolink' => true}
            =t 'to_home'
        %li
          =link_to 'Все посты', posts_path
  .posts
    .container
      = yield
-#/ FOOTER ###############################################
-#%footer
-#  .row
-#    .twelve.columns
-#      %a{:href => '/', 'data-no-turbolink' => true}
-#        %img{:alt => "YOURLOGO", :src => "/assets/logo_footer.png", }

